@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */
*{
    margin: 0;
    padding: 0 auto;
}
.btn-continer{
    text-align: center;
}
.btn{
    padding: 16px 20px 16px 20px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
}
#hero{
    background: linear-gradient( 0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),url("../assets/hero-bg.png");
    height: 635px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
#hero .hero-content{
    width: 727px;
}
#hero .hero-content .subtitle{
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;

}
#hero .hero-content .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
#hero .hero-content .description{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}
#card-box{
    width: 884px;
    margin: 100px auto;
}
#card-box .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
#card-box .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}
.card-container{
    margin-top:32px;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    font-family: Work Sans;
}
.card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    align-items: center;
}
.card-discription{
    text-align: center;
    padding-left: 20px;
}
.card .image-box{
    width: 250px;
}
.card .image-box img{
    width: 100%;
}
.card .shop{
    background-color: aqua;
    padding: 10px 18px 10px 18px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}
/* style about uss */
.about-us-container{
    height: 400px;
    border: 1px solid black;
    display: flex;
}

.foods{
    width: 800px;
    height: 400px;
}
.div-2{
    text-align: center;
    align-items: center;
    padding: 130px 50px;
}
.div-2-button{
    border: none;
    background-color: none;
}
.padding{
    padding-bottom: 20px;
}
.div-2-title{
    font-size: 30px;
    font-weight: 700px;
}
.div-3{
    padding-top: 20px;
}
/* nav style */

.nav{
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.616);
}